@import "https://fonts.googleapis.com/css?family=Permanent+Marker";
@font-face {
  font-family: 'Ome';
  src: url("../fonts/OmePlus-P-Gothic.ttf");
}
@font-face {
  font-family: 'Yuna';
  src: url("../fonts/HuiFont29.ttf");
}
/* line 13, ../scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 18, ../scss/style.scss */
body, html {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: 'Ome';
  overflow: hidden;
}

@keyframes scrollicon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logoAnima {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
/* animation class */
/* line 52, ../scss/style.scss */
#main > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all .7s;
}

/* line 61, ../scss/style.scss */
#main > section.hidden-sec {
  transform: translateY(-100%);
}

/* line 64, ../scss/style.scss */
#main > section.show-sec {
  transform: translateY(0);
}

/* line 71, ../scss/style.scss */
.mouse {
  fill: none;
  margin-bottom: 4px;
  stroke: #fff;
  stroke-width: 2;
  width: 34px;
}

/* line 78, ../scss/style.scss */
.plzscroll {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* line 84, ../scss/style.scss */
.plzscroll p {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
  animation: scrollicon 1.5s ease -2s infinite alternate;
}

/* line 92, ../scss/style.scss */
.top-section {
  padding: 3.5em 4em;
}
/* line 94, ../scss/style.scss */
.top-section .logo {
  animation: logoAnima .25s linear;
  animation-delay: .75s;
  position: absolute;
  top: 0;
  left: 4em;
  height: 3.5em;
}
/* line 101, ../scss/style.scss */
.top-section .logo img {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  height: 50%;
  padding: 0 .75em;
}
/* line 109, ../scss/style.scss */
.top-section .sns-links {
  position: absolute;
  top: 0;
  right: 4em;
  height: 3.5em;
  padding-right: 0 .75em;
}
/* line 115, ../scss/style.scss */
.top-section .sns-links i {
  animation: logoAnima .25s linear;
  animation-delay: .75s;
  position: relative;
  line-height: 2em;
  display: block;
  float: left;
  color: #555;
  font-size: 2em;
  padding-left: 1em;
  vertical-align: middle;
  position: relative;
  top: 2px;
}
/* line 131, ../scss/style.scss */
.top-section .access-links {
  position: absolute;
  bottom: 0;
  left: 4em;
  height: 3.5em;
  padding-right: 0 .75em;
}
/* line 137, ../scss/style.scss */
.top-section .access-links a {
  font-size: 1.25em;
  text-decoration: none;
  position: relative;
  line-height: 2em;
  display: block;
  float: left;
  color: #555;
  padding: 0 1em;
  vertical-align: middle;
  position: relative;
  top: 5px;
  transition: all .25s;
}
/* line 151, ../scss/style.scss */
.top-section .access-links a i {
  font-size: 1.5em;
  margin-right: .25em;
  vertical-align: middle;
}
/* line 157, ../scss/style.scss */
.top-section .access-links a:hover {
  animation: logoAnima .25s linear;
}
/* line 162, ../scss/style.scss */
.top-section .sub-section {
  color: #666;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 169, ../scss/style.scss */
.top-section .sub-section p {
  animation: logoAnima .25s linear;
  animation-delay: .75s;
  writing-mode: vertical-rl;
  letter-spacing: 2px;
  font-family: 'Ome';
  position: relative;
  right: 1em;
}
/* line 179, ../scss/style.scss */
.top-section .image-wra {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  background-image: url(../img/bg.jpg);
  transform: scale(0.65);
  transition: all .6s;
}
/* line 187, ../scss/style.scss */
.top-section .image-wra.view {
  transform: scale(1);
}
/* line 190, ../scss/style.scss */
.top-section .image-wra .filter {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}
/* line 195, ../scss/style.scss */
.top-section .image-wra .title-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 200, ../scss/style.scss */
.top-section .image-wra .title-box h1 {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  letter-spacing: 7px;
  font-size: 4em;
}
/* line 206, ../scss/style.scss */
.top-section .image-wra .title-box > p {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 1px;
}

/* line 216, ../scss/style.scss */
.article-sec {
  overflow: scroll;
  overflow-x: hidden;
}
/* line 219, ../scss/style.scss */
.article-sec .sec-list {
  text-align: center;
}
/* line 221, ../scss/style.scss */
.article-sec .sec-list ul {
  display: block;
  list-style: none;
  text-align: center;
  overflow: auto;
  margin: auto;
}
/* line 228, ../scss/style.scss */
.article-sec .sec-list ul li {
  float: left;
  padding: 1.5em 1em;
}
/* line 234, ../scss/style.scss */
.article-sec .returnLink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1em;
}
/* line 240, ../scss/style.scss */
.article-sec .returnLink p {
  cursor: pointer;
  font-size: 1.05em;
  letter-spacing: 2px;
}
/* line 245, ../scss/style.scss */
.article-sec .returnLink i {
  font-size: 1.15em;
}
/* line 250, ../scss/style.scss */
.article-sec.show-sec .cate-sec-ready {
  transform: translateY(0);
  opacity: 1;
}
/* line 253, ../scss/style.scss */
.article-sec.show-sec .cate-sec-ready li {
  transform: translateY(0);
  opacity: 1;
}
/* line 259, ../scss/style.scss */
.article-sec .controll-right {
  z-index: 100;
  width: 3em;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
/* line 266, ../scss/style.scss */
.article-sec .controll-right > p {
  position: relative;
  top: 50%;
  right: 0em;
  transform: translateY(-50%);
  letter-spacing: 2px;
  color: #444;
  font-size: 1.05em;
  text-align: center;
}
/* line 275, ../scss/style.scss */
.article-sec .controll-right > p > span {
  writing-mode: vertical-rl;
  position: relative;
  right: 3em;
}
/* line 279, ../scss/style.scss */
.article-sec .controll-right > p > span .NextCategoryName {
  right: 0;
  letter-spacing: 3px;
}
/* line 284, ../scss/style.scss */
.article-sec .controll-right > p i {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  font-size: 2em;
}
/* line 295, ../scss/style.scss */
.article-sec .controll-left {
  z-index: 100;
  width: 3em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 302, ../scss/style.scss */
.article-sec .controll-left > p {
  position: relative;
  top: 50%;
  right: 0em;
  transform: translateY(-50%);
  letter-spacing: 2px;
  color: #444;
  font-size: 1.05em;
  text-align: center;
}
/* line 311, ../scss/style.scss */
.article-sec .controll-left > p > span {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: relative;
  left: 3em;
}
/* line 316, ../scss/style.scss */
.article-sec .controll-left > p > span .NextCategoryName {
  right: 0;
  letter-spacing: 3px;
}
/* line 321, ../scss/style.scss */
.article-sec .controll-left > p i {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  font-size: 2em;
}
/* line 332, ../scss/style.scss */
.article-sec > h2 {
  font-family: 'Permanent Marker', cursive;
  color: #333;
  text-align: center;
  padding: 1em 1em;
  font-size: 2em;
}
/* line 339, ../scss/style.scss */
.article-sec .cate-sec-wra {
  width: 100%;
  position: relative;
}
/* line 343, ../scss/style.scss */
.article-sec .cate-sec-ready {
  transform: translateY(20%);
  opacity: 0.2;
  transition: all .9s;
  transition-delay: .2s;
}
/* line 348, ../scss/style.scss */
.article-sec .cate-sec-ready li {
  transform: translateY(20%);
  opacity: 0.2;
  transition: all .9s;
  transition-delay: .5s;
}
/* line 355, ../scss/style.scss */
.article-sec .cate-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 360, ../scss/style.scss */
.article-sec .cate-sec .article-box {
  width: 80%;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  overflow: auto;
}
/* line 366, ../scss/style.scss */
.article-sec .cate-sec .article-box .cate-title {
  text-align: center;
  background-image: url(../img/article1.jpg);
  background-position: center;
  background-size: cover;
}
/* line 371, ../scss/style.scss */
.article-sec .cate-sec .article-box .cate-title .filter {
  background: rgba(51, 51, 51, 0.35);
  width: 100%;
  height: 100%;
}
/* line 375, ../scss/style.scss */
.article-sec .cate-sec .article-box .cate-title .filter .white-fil {
  padding: 3em;
  padding-bottom: 8em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 0)), to(#fff));
}
/* line 381, ../scss/style.scss */
.article-sec .cate-sec .article-box .cate-title .filter .white-fil h3 {
  font-size: 2em;
  padding: .3em 0;
  letter-spacing: 4px;
  color: #fff;
}
/* line 387, ../scss/style.scss */
.article-sec .cate-sec .article-box .cate-title .filter .white-fil p {
  color: #fff;
  opacity: .9;
  font-size: .95em;
  padding: .25em 0;
}
/* line 397, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list {
  list-style: none;
  position: relative;
  top: -4.5em;
}
/* line 401, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li {
  width: calc( 100% / 3 );
  float: left;
  padding: 1em;
}
/* line 405, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div {
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
/* line 408, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box {
  width: 100%;
  height: 15vw;
  background: url(../img/article-pic.jpg);
  background-position: center;
  background-size: cover;
}
/* line 415, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box .img-fil {
  cursor: pointer;
  background: rgba(51, 51, 51, 0);
  width: 100%;
  height: 100%;
  transition: all .5s;
  text-align: center;
}
/* line 422, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box .img-fil > p {
  transform: translateY(-50%);
  position: relative;
  top: 60%;
  opacity: 0;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 1px;
  transition: all .25s;
  font-weight: 100;
}
/* line 432, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box .img-fil > p i {
  display: block;
  margin-right: .25em;
  font-size: 2em;
}
/* line 439, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box .img-fil:hover {
  background: rgba(51, 51, 51, 0.45);
}
/* line 441, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li > div .bg-box .img-fil:hover > p {
  top: 50%;
  opacity: 1;
}
/* line 449, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li .article-text {
  padding: .5em;
}
/* line 451, ../scss/style.scss */
.article-sec .cate-sec .article-box .article-list li .article-text h6 {
  padding: .25em;
  font-size: .95em;
  color: #555;
}

/* category animation */
/* line 464, ../scss/style.scss */
.cate-sec {
  /* default */
  transform: translateX(100%);
  opacity: 0;
  transition: all .75s;
}

/* line 469, ../scss/style.scss */
.cate-sec-show {
  /* show */
  transform: translateX(0%);
  opacity: 1;
}

/* line 473, ../scss/style.scss */
.cate-sec-hidden {
  /* hidden */
  transform: translateX(-100%) !important;
  opacity: 0;
}

/* line 481, ../scss/style.scss */
.recruitSec {
  overflow: scroll;
}
/* line 483, ../scss/style.scss */
.recruitSec .sns-links {
  position: absolute;
  top: 0;
  right: 4em;
  height: 3.5em;
  padding-right: 0 .75em;
}
/* line 489, ../scss/style.scss */
.recruitSec .sns-links i {
  position: relative;
  line-height: 2em;
  display: block;
  float: left;
  color: #555;
  font-size: 2em;
  padding-left: 1em;
  vertical-align: middle;
  position: relative;
  top: 2px;
}
/* line 503, ../scss/style.scss */
.recruitSec .title-box {
  text-align: center;
  padding: 1em;
}
/* line 506, ../scss/style.scss */
.recruitSec .title-box > h2 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 3px;
  color: #333;
  padding: .5em 1em;
  font-size: 2.5em;
}
/* line 517, ../scss/style.scss */
.recruitSec .member-list {
  width: 100%;
  padding: 0 1.5em;
  overflow: auto;
}
/* line 521, ../scss/style.scss */
.recruitSec .member-list ul {
  overflow: auto;
  list-style: none;
}
/* line 524, ../scss/style.scss */
.recruitSec .member-list ul li {
  float: left;
  width: 20%;
  padding: 1em;
}
/* line 528, ../scss/style.scss */
.recruitSec .member-list ul li > div {
  background: #fff;
  box-shadow: 3px 3px 3px rgba(52, 52, 52, 0.05);
  padding: 1.25em;
  width: 100%;
}
/* line 533, ../scss/style.scss */
.recruitSec .member-list ul li > div .profile-block {
  width: 100%;
  height: 14vw;
  background-size: cover;
  background-position: center;
}
/* line 539, ../scss/style.scss */
.recruitSec .member-list ul li > div h6 {
  font-size: 1.35em;
  color: #555;
  font-family: 'Yuna';
}
